@model SII.Models.LoginModel

@{
    ViewBag.Title = "Entrar al sistema";
}

<<div class="row">

    <section id="loginForm">

        <div class="row">
            <div class="small-8 small-offset-2 columns">
                <div class="panel">Ingrese su usuario y contraseña asignado para poder entrar al sistema</div>
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Iniciar sesión</legend>

                        <div class="row">
                            <div class="small-2 columns">
                                @Html.LabelFor(m => m.UserName, new { @class = "right inline" })
                            </div>
                            <div class="small-10 columns">
                                @Html.TextBoxFor(m => m.UserName)
                            </div>

                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="row">
                            <div class="small-2 columns">
                                @Html.LabelFor(m => m.Password, new { @class = "right inline" })
                            </div>
                            <div class="small-10 columns">
                                @Html.PasswordFor(m => m.Password)
                            </div>

                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="row">
                            <div class="small-2 small-offset-1">
                                <input type="submit" value="Entrar" class="button" />
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </section>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>