@model SII.Models.RegisterModel
@{
    ViewBag.Title = "Usuarios";
}

<div class="row">
    <section>
        <div class="row">
            <div class="small-8 small-offset-2 columns">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <fieldset>
                        <legend>Creación de nuevo usuario</legend>
                        <div class="row">
                            <div class="small-2 columns">
                                @Html.LabelFor(m => m.UserName)
                            </div>
                            <div class="small-10 columns">
                                @Html.TextBoxFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-2 columns">
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div class="small-10 columns">
                                @Html.PasswordFor(m => m.Password)
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-2 columns">
                                @Html.LabelFor(m => m.ConfirmPassword)
                            </div>
                            <div class="small-10 columns">
                                @Html.PasswordFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-2 small-offset-2">
                                <input type="submit" value="Crear usuario" class="button" />
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}