@model SII.Models.Barrier

@{
    ViewBag.Title = "Detalles";
}
<div class="row">


    <fieldset>
        <legend>Barrier</legend>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.Name)</span>
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.IpAddress)</span>
            @Html.DisplayFor(model => model.IpAddress)
        </div>
        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.Port) </span>
            @Html.DisplayFor(model => model.Port)
        </div>
        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.Activate) </span>
            @Html.DisplayFor(model => model.Activate)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.CampusId) </span>
            @Html.DisplayFor(model => model.CampusId)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.AllowTeachers)</span>
            @Html.DisplayFor(model => model.AllowTeachers)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.AllowAdministrative) </span>
            @Html.DisplayFor(model => model.AllowAdministrative)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.AllowStudents) </span>
            @Html.DisplayFor(model => model.AllowStudents)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.CreatedBy) </span>
            @Html.DisplayFor(model => model.CreatedBy)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.CreatedAt)</span>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.UpdatedBy) </span>
            @Html.DisplayFor(model => model.UpdatedBy)
        </div>

        <div class="display-label">
            <span class="label">@Html.DisplayNameFor(model => model.UpdatedAt) </span>
            @Html.DisplayFor(model => model.UpdatedAt)
        </div>

    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "button" })
        @Html.ActionLink("Back to List", "Index", "Barrier", new { @class = "button" })
    </p>
</div>
