@model SII.Models.Barrier

@{
    ViewBag.Title = "Editar barrera";
    
    SII.Models.SIIContext db = new SII.Models.SIIContext();
    var allCampus = db.Campus.Where(m => m.Dropped == false).ToList();
    var campusDropDown = new List<SelectListItem>();

    foreach (var campus in allCampus)
    {
        campusDropDown.Add(new SelectListItem { Text = campus.Name, Value = campus.Id.ToString() });
    }
}

<div class="row">
    <div class="small-8 small-offset-2 columns">
        @if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <div data-alert class="alert-box alert round">
                @ViewBag.Error
                <a href="#" class="close">&times;</a>
            </div>
        }
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Barrera</legend>

                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.IpAddress)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.IpAddress)
                        @Html.ValidationMessageFor(model => model.IpAddress)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.Port)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.Port)
                        @Html.ValidationMessageFor(model => model.Port)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.Activate)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.Activate)
                        @Html.ValidationMessageFor(model => model.Activate)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.CampusId)
                    </div>
                    <div class="small-9 columns">
                        @Html.DropDownListFor(model => model.CampusId, campusDropDown)
                        @Html.ValidationMessageFor(model => model.CampusId)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.AllowTeachers)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.AllowTeachers)
                        @Html.ValidationMessageFor(model => model.AllowTeachers)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.AllowAdministrative)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.AllowAdministrative)
                        @Html.ValidationMessageFor(model => model.AllowAdministrative)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 columns">
                        @Html.LabelFor(model => model.AllowStudents)
                    </div>
                    <div class="small-9 columns">
                        @Html.EditorFor(model => model.AllowStudents)
                        @Html.ValidationMessageFor(model => model.AllowStudents)
                    </div>
                </div>

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreatedAt)
                @Html.HiddenFor(model => model.CreatedBy)

                <div class="row">
                    <div class="small-6 small-offset-1 columns">
                        <ul class="button-group">
                            <li><input type="submit" value="Guardar" class="small button" /></li>
                            <li>@Html.ActionLink("Regresar a la lista", "Index", "Barrier", new { @class = "small button" })</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
