<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title | SII</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/foundation.min.css")
        @Styles.Render("~/Content/foundation-icons/foundation-icons.css")
        @Styles.Render("~/Content/datepicker/classic.css")
        @Styles.Render("~/Content/datepicker/classic.date.css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            @Html.Partial("_TopBar")
        </header>
        <section id="body">
            <header>
                @Html.Partial("_HeaderWithLogo")
            </header>
            @RenderBody()
        </section>
        @Scripts.Render("~/Scripts/foundation.min.js")
        @Scripts.Render("~/Scripts/Application.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
