<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1>@Html.ActionLink("Inicio", "Index", "Home")</h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="has-dropdown">
                    <a href="#">@User.Identity.Name</a>
                    <ul class="dropdown">
                        <li>
                            @Html.ActionLink("Cambiar contraseña", "Manage", "Account")
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                        </li>
                    </ul>
                </li>
            }
        </ul>
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Left Nav Section -->
            <ul class="left">
                @if (User.IsInRole("Administrador"))
                {
                    <li class="has-dropdown">
                        <a>Usuarios</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Crear", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Roles", "RoleAddToUser", "Account")</li>
                    <li class="has-dropdown">
                        <a>Campus</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Crear", "Create", "Campus")</li>
                            <li>@Html.ActionLink("Administrar", "Index", "Campus")</li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a>Barreras</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Crear", "Create", "Barrier")</li>
                            <li>@Html.ActionLink("Administrar", "Index", "Barrier")</li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a>Departamentos</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Crear", "Create", "Department")</li>
                            <li>@Html.ActionLink("Administrar", "Index", "Department")</li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a>Carnets</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Crear", "Create", "Carnet")</li>
                            <li>@Html.ActionLink("Administrar", "Index", "Carnet")</li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a>Reportes</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Visitas anunciadas por rango de fechas", "AnnouncementsByDateRange", "Report")</li>
                            <li>@Html.ActionLink("Visitas no anunciadas por rango de fechas", "VisitorsByDateRange", "Report")</li>
                        </ul>
                    </li>   
                }
                
                @if (User.IsInRole("Guardia"))
                {
                    <li class="has-dropdown">
                        <a>Visitas</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Visitas anunciadas", "Index", "Entrance")</li>
                            <li>@Html.ActionLink("Visitas no anunciadas", "Index", "Visitor")</li>
                        </ul>
                    </li>
                }
                
                @if (User.IsInRole("Personal Administrativo"))
                {
                    <li class="has-dropdown">
                        <a>Visitas</a>
                        <ul class="dropdown">
                            <li>@Html.ActionLink("Registrar Visitas", "Register", "Announcement")</li>
                        </ul>
                    </li>
                }

            </ul>
        }
    </section>
</nav>