@model SII.Models.Campus

@{
    ViewBag.Title = "Editar campus";
}

<div class="row">
    <div class="small-8 small-offset-2 columns">
        @if (!String.IsNullOrEmpty(ViewBag.Error))
        {
            <div data-alert class="alert-box alert round">
                @ViewBag.Error
                <a href="#" class="close">&times;</a>
            </div>
        }
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Campus</legend>
                <div class="row">
                    <div class="small-2 columns">
                        @Html.LabelFor(model => model.Code, new { @class = "right inline" })
                    </div>
                    <div class="small-10 columns">
                        @Html.EditorFor(model => model.Code)
                        @Html.ValidationMessageFor(model => model.Code)
                    </div>
                </div>
                <div class="row">
                    <div class="small-2 columns">
                        @Html.LabelFor(model => model.Name, new { @class = "right inline" })
                    </div>
                    <div class="small-10 columns">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="small-2 columns">
                        @Html.LabelFor(model => model.Details, new { @class = "right inline" })
                    </div>
                    <div class="small-10 columns">
                        @Html.EditorFor(model => model.Details)
                        @Html.ValidationMessageFor(model => model.Details)
                    </div>
                </div>

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreatedAt)
                @Html.HiddenFor(model => model.CreatedBy)

                <div class="row">
                    <div class="small-6 small-offset-1">
                        <ul class="button-group">
                            <li><input type="submit" value="Guardar" class="small button" /></li>
                            <li>@Html.ActionLink("Regresar a la Lista", "Index", "Campus", htmlAttributes: new { @class = "small button" })</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
        }
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
