@model SII.Models.Announcement


    @using (Html.BeginForm("Register", "Announcement", FormMethod.Post, htmlAttributes: new { id = "register-form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <div class="parte1">

           <div class="row">
               <div class="large-12 columns">
                    <fieldset>
                        <legend>Seleccione un campus:</legend>
                        
                        <select name="campus">
                            @foreach (var cmp in ViewBag.Campus)
                            {
                                <option value="@cmp.Value">@cmp.Text</option>
                            }
                        </select>
                    </fieldset>        
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <fieldset>
                        <legend>Tipo de Fechas:</legend>
                        <input class="fecha_unica" type="radio" name="tipo_fecha" value="fecha_unica" checked="checked" required>
                        <label>Fecha Unica</label>
                        <input class="fecha_multi" type="radio" name="tipo_fecha" value="multiples_fechas">
                        <label>Múltiples Fechas</label>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <fieldset>
                        <legend>Desde:</legend>
                        <input class="text-box single-line datepicker" id="InitialDate" name="InitialDate" type="date" value="">
                    </fieldset>
                </div>
                <div class="large-6 columns">
                    <fieldset>
                        <legend>Hasta:</legend>
                        <input class="text-box single-line datepicker" id="FinalDate" name="FinalDate" type="date" value="">
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">

                    <fieldset class="dias_semana">
                        <legend>Días</legend>
                        <input class="semana" type="checkbox" name="dia" value="T" />
                        <label>Todos los días</label>

                        <input class="dia" type="checkbox" name="dia" value="L" />
                        <label>Lunes</label>

                        <input class="dia" type="checkbox" name="dia" value="M" />
                        <label>Martes</label>

                        <input class="dia" type="checkbox" name="dia" value="X" />
                        <label>Miércoles</label>

                        <input class="dia" type="checkbox" name="dia" value="J" />
                        <label>Jueves</label>

                        <input class="dia" type="checkbox" name="dia" value="V" />
                        <label>Viernes</label>

                        <input class="dia" type="checkbox" name="dia" value="S" />
                        <label>Sábado</label>

                        <input class="dia" type="checkbox" name="dia" value="D" />
                        <label>Domingo</label>
                    </fieldset>

                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a class="next button">Siguiente</a>
                </div>
            </div>
        </div>
        
        <div class="parte2">
            <div class="row">
                <div class="large-12 columns">
                    <fieldset>
                        <legend>Ingrese Nombre(s)</legend>
                        <div class="duplicate">
                            <div class="row">
                                <div class="medium-7 columns">
                                    <label>Nombre: </label>
                                    <div class="alpha-field">
                                        <input class="nombres" name="nombre" type="text" data-validation="custom" data-validation-regexp="[a-zA-z\s]{5, 100}" data-validation-error-msg="Los nombres pueden tener un máximo de 100 caracteres solo letras." />
                                    </div>
                                </div>
                    
                                <div class="medium-3 columns">
                                    <label>Tipo de entrada:</label>
                                    <input class="tipo_entrada" type="radio" value="peatonal" checked="checked">
                                    <label>Peatonal</label>
                                    <input class="tipo_entrada" type="radio" value="vehicular">
                                    <label>Vehicular</label>
                                </div>
                                <div class="medium-2 columns">
                                    <a class="button tiny agregar"><i class="fi-plus"></i> Agregar</a>
                                </div>
                            </div>    
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <fieldset>
                        <legend>Observaciones:</legend>
                        @Html.TextAreaFor(model => model.Observations)
                        @Html.ValidationMessageFor(model => model.Observations)
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <a class="back button">Atrás</a>
                    <a class="button guardar">Siguiente</a>
                </div>
            </div>
        </div>

        <div class="resumen">
            <div class="row">
                <div class="panel">
                    <h2 class="subheader">Resumen</h2>
                    <h4>Campus:</h4><label class="campus"></label>
                    <h4>Fecha Incial: </h4><label class="initial_date"></label>
                    <h4>Fecha Final: </h4><label class="final_date"></label>
                    <h4>Días: </h4><label class="dias"></label>
                    <table>
                        <tbody>
                            <tr>
                                <td>Nombre:</td>
                                <td>Tipo de Entrada:</td>
                            </tr>
                            <tr class="listado">

                            </tr>
                        </tbody>
                    </table>
                    <h4>Observaciones</h4><label class="observaciones"></label>
                    <a class="button cancelar">Cancelar</a>
                    <a class="button autorizar">Autorizar</a>
                </div>
            </div>
        </div>
    }


@section Scripts {
    @Scripts.Render("~/Scripts/jquery-ui-1.8.24.js")
    @Scripts.Render("~/Scripts/rva.js")
    @Scripts.Render("~/Scripts/datepicker/legacy.js")
    @Scripts.Render("~/Scripts/datepicker/picker.js")
    @Scripts.Render("~/Scripts/datepicker/picker.date.js")
    @Scripts.Render("~/Scripts/DatePicker.js")
    @Scripts.Render("~/Scripts/jquery.form-validator.min.js")
}