@model SII.Models.Department

@{
    ViewBag.Title = "Crear nuevo departamento";
}

<div class="row">
    <div class="small-8 small-offset-2 columns">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Departamento</legend>

                <div class="row">
                    <div class="small-2 columns">
                        @Html.LabelFor(model => model.Name, new { @class = "right inline" })
                    </div>
                    <div class="small-10 columns">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="row">
                    <div class="small-6 small-offset-1 columns">
                        <ul class="button-group">
                            <li><input type="submit" value="Crear" class="small button" /></li>
                            <li>@Html.ActionLink("Regresar a la lista", "Index", "Department", htmlAttributes: new { @class = "small button" })</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
